<div id="sheet">
    <div class="flexrow">
        <div class="cell legend yaxis xaxis"></div>
        <div class="cell legend xaxis" *ngFor="let x of columnNumbers()" [style.width.px]="columnWidths[x-1]">{{ sheetService.indexToLetter(x) }}</div>
    </div>
    <div class="flexrow" *ngFor="let y of rowNumbers()" [style.height.px]="rowHeights[y-1]">
        <div class="cell legend yaxis" [style.height.px]="rowHeights[y-1]">{{ y }}</div>
        <div class="cell" *ngFor="let x of columnNumbers()" [style.width.px]="columnWidths[x-1]">
            <app-cell [cell]="sheetService.getCell(sheet.uuid, sheetService.indexToLetter(x) + y)"></app-cell>
        </div>
    </div>
</div>


